<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메인 페이지</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  </head>
  <body>
    <div id="container">
      <img id="logo" src="{% static 'img/logo.svg' %}" />
      <img id="list" src="{% static 'img/list.svg' %}" />
      <!--스크롤바 부분-->
      <div id="scroll">
        <!--예방책 부분-->
        <div id="prevention">
          <div id="preventionBox">
            <div id="text"></div>
            <div id="orangebox"></div>
            <div id="whitebox"></div>
            <img id="face" src="{% static 'img/face.svg' %}" />
            <img
              src="{% static 'img/question-s.svg' %}"
              style="position: absolute; margin-top: -30px; margin-left: 170px"
            />
            <img
              src="{% static 'img/question-l.svg' %}"
              style="position: absolute; margin-top: -29px; margin-left: 176px"
            />
          </div>
          <div id="btn">
            <span id="button1" onclick="btn1Click()"></span>
            <span id="button2" onclick="btn2Click()"></span>
            <span id="button3" onclick="btn3Click()"></span>
          </div>
        </div>
        <!--긴급알림, 익명 사고 접수 커뮤니티-->
        <div>
          <span id="siren">
            <img
              src="{% static 'img/siren.svg' %}"
              style="position: relative; top: 17px; left: 60px"
            />
            <div id="siren_text">긴급 알림</div>
            <div id="siren_btn">사이렌</div>
            <div id="msg_btn">문자 보내기</div>
          </span>
          <span id="community">
            <img
              src="{% static 'img/message.svg' %}"
              style="position: relative; top: 17px; left: 60px"
            />
            <div id="community_text">익명 사고<br />접수 커뮤니티</div>
            <div id="community_btn">접수하기</div>
          </span>
        </div>
        <!-- 카카오 맵 api -->
        <div
          id="map"
          style="width: 320px; height: 230px; top: 220px; left: 20px"
        ></div>
        <script
          type="text/javascript"
          src="//dapi.kakao.com/v2/maps/sdk.js?appkey=32c156d387fdb66c7b70a18f4e30fa4e"
        ></script>
        <script>
          var mapContainer = document.getElementById("map");
          var mapOption = {
            center: new kakao.maps.LatLng(38.036845741, 128.5594244943),
            level: 3,
          };

          var map = new kakao.maps.Map(mapContainer, mapOption);

          var attractions = JSON.parse("{{ attractionJson|safe }}");
          console.log(attractions);
        </script>
      </div>
    </div>

    <script src="{% static 'javascripts/main.js' %}"></script>
  </body>
</html>
