<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시글 작성</title>
</head>
<body>
  <h1>게시글 작성</h1>
  <form action="{% url 'create' %}" method="post">
    {% csrf_token %}
    <label for="title">제목</label>
    <input type="text" name="title" required><br>

    <label for="body">본문</label>
    <textarea name="body" rows="4" required></textarea><br>

    <label for="category">카테고리</label>
    <select name="category">
      <option value="위험">위험</option>
      <option value="추행">추행</option>
      <option value="폭행">폭행</option>
      <option value="침입">침입</option>
    </select><br>

    <input type="submit" value="게시글 작성">
  </form>
</body>
</html>
