#container {
  position: relative;
  max-width: 360px;
  max-height: 740px;
  margin: 0px auto;
  background: linear-gradient(to top, #f4eee9, #f2f2f2);
}
#scroll {
  height: 699px;
  overflow-y: auto;
}
#logo {
  margin-top: 10px;
  margin-left: 20px;
}
#list {
  position: relative;
  top: -12px;
  left: 230px;
}
#prevention {
  margin-top: 20px;
}
#preventionBox {
  position: relative;
  width: 322px;
  height: 118px;
  background: #fbf6f2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 0 auto;
}
#text {
  /* 누군가 뒤따라오고 있어요! */
  position: absolute;
  width: 240px;
  height: 20px;
  left: -5px;
  top: 15px;

  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  /* or 131% */
  text-align: center;
  letter-spacing: -0.32px;

  color: #000000;

  mix-blend-mode: darken;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#orangebox {
  position: relative;
  width: 130px;
  height: 23px;
  margin-left: -15px;
  top: 50px;

  background: rgba(254, 151, 56, 0.71);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transform: rotate(-4.11deg);

  /* 글씨체 */
  position: relative;
  left: calc(50% - 102.45px / 2 - 76.27px);
  padding-top: 4px;

  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  /* or 175% */
  text-align: center;
  letter-spacing: -0.32px;

  color: #000000;

  mix-blend-mode: darken;
  transform: rotate(-4.11deg);
}
#whitebox {
  position: relative;
  width: 130px;
  height: 23px;
  margin-left: -12px;
  top: 49px;

  background: rgba(243, 236, 229, 0.71);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transform: rotate(3.93deg);
  /* 소리를 질러야하나? */
  position: relative;
  left: calc(50% - 102.45px / 2 - 18.54px);
  padding-top: 4px;

  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  /* or 175% */
  text-align: center;
}
#face {
  position: relative;
  left: 205px;
  top: -33px;
}
#btn {
  margin-top: 20px;
}
#button1 {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 155px;
  top: 220px;

  background: #fe9738;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
#button2 {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 174px;
  top: 220px;

  background: #d9d9d9;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
#button3 {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 194px;
  top: 220px;

  background: #d9d9d9;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);

  border-radius: 10px;
}
#siren {
  position: absolute;
  width: 156px;
  height: 163px;
  left: calc(50% - 156px / 2 - 84.5px);
  top: 288px;

  background: rgba(255, 255, 255, 0.53);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-top: -40px;
}
#siren_text {
  /* 긴급 알림 */
  position: absolute;
  width: 69px;
  height: 20px;
  top: 57px;
  left: 40px;

  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  /* or 131% */
  text-align: center;
  letter-spacing: -0.32px;

  color: #000000;

  mix-blend-mode: darken;
}
#siren_btn {
  box-sizing: border-box;

  position: absolute;
  width: 96px;
  height: 21px;
  top: 92px;
  left: 25px;

  background: rgba(255, 255, 255, 0.38);
  border: 1px solid #9c9b9b;
  border-radius: 10px;
  /* 사이렌 글씨 */
  position: absolute;
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  /* or 175% */
  text-align: center;
  letter-spacing: -0.32px;
  color: #000000;
  mix-blend-mode: darken;
}
#msg_btn {
  box-sizing: border-box;
  position: absolute;
  width: 96px;
  height: 21px;
  top: 122px;
  left: 25.5px;
  background: rgba(255, 255, 255, 0.38);
  border: 1px solid #9c9b9b;
  border-radius: 10px;
  /* 문자 보내기 글씨 */
  position: absolute;
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  /* or 175% */
  text-align: center;
  letter-spacing: -0.32px;
  color: #000000;
  mix-blend-mode: darken;
}
#community {
  position: absolute;
  width: 156px;
  height: 163px;
  left: calc(50% - 156px / 2 + 83.5px);
  top: 288px;

  background: rgba(255, 255, 255, 0.53);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-top: -40px;
}
#community_text {
  /* 익명 사고 접수 커뮤니티 */
  position: absolute;
  width: 101px;
  height: 20px;
  top: 60px;
  left: 25px;

  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  /* or 131% */
  text-align: center;
  letter-spacing: -0.32px;

  color: #000000;

  mix-blend-mode: darken;
}
#community_btn {
  box-sizing: border-box;

  position: absolute;
  width: 96px;
  height: 21px;
  top: 120px;
  left: 29px;

  background: rgba(255, 255, 255, 0.38);
  border: 1px solid #9c9b9b;
  border-radius: 10px;
  /* 접수하기 */
  position: absolute;

  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  /* or 175% */
  text-align: center;
  letter-spacing: -0.32px;

  color: #000000;

  mix-blend-mode: darken;
}
#map {
  border-radius: 10px;
}
